<div class="gtja-section banner">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="item active" style="background:url(../assets/images/banner-1.jpg) no-repeat center top;">
          <div class="banner-bd section-content">
            <h1>综合资券融通解决方案</h1>
            <p>全能风控保障信用资产安全</p>
            <a class="more" href="#" target="_blank">查看详情</a>
          </div>
          <a class="banner-link" href="#"></a>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="item" style="background:url(../assets/images/banner-2.jpg) no-repeat center top;">
          <div class="banner-bd section-content">
            <h1>综合资券融通解决方案</h1>
            <p>全能风控保障信用资产安全</p>
            <a class="more" href="#" target="_blank">查看详情</a>
          </div>
          <a class="banner-link" href="#"></a>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="item" style="background:url(../assets/images/banner-3.jpg) no-repeat center top;">
          <div class="banner-bd section-content">
            <h1>综合资券融通解决方案</h1>
            <p>全能风控保障信用资产安全</p>
            <a class="more" href="#" target="_blank">查看详情</a>
          </div>
          <a class="banner-link" href="#"></a>
        </div>
      </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <div class="funbtn section-content">
      <a class="left direction-control"><i class="gtja-iconfont icon-jiantou"></i></a>
      <a class="right direction-control"><i class="gtja-iconfont icon-jiantou-copy2"></i></a>
    </div>
  </div>
  <script>
    var swiper = new Swiper('.swiper-container', {
      pagination: '.swiper-pagination',
      paginationClickable: true,
      loop : true,
      autoplay: 2000,
      speed: 600,
      nextButton: '.right.direction-control',
      prevButton: '.left.direction-control'
    });
  </script>
</div>