<div class="gtja-section footer">
  <div class="pure-g section-content">
    <div class="pure-u-1-3">
      <div class="footer-item">
        <h2 class="column">Contact and Find us</h2>
        <ul>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Locations</a></li>
        </ul>
      </div>
    </div>
    <div class="pure-u-1-3">
      <div class="footer-item">
        <h2 class="column">Product and Services</h2>
        <ul>
          <li><a href="#">*************</a></li>
          <li><a href="#">*************</a></li>
          <li><a href="#">*************</a></li>
          <li><a href="#">*************</a></li>
        </ul>
      </div>
    </div>
    <div class="pure-u-1-3">
      <div class="footer-item">
        <h2 class="column">Corporate</h2>
        <ul>
          <li><a href="#">*************</a></li>
          <li><a href="#">*************</a></li>
          <li><a href="#">*************</a></li>
          <li><a href="#">*************</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="gtja-section copy-right">
    <div class="section-content">
      <span class="right">Copyright © 2013.Guotai Junan Securities Co.Ltd.,All Rights Reserved </span>
      <span class="beian">网站备案号：沪B2-20040408-5</span>
    </div>
  </div>
</div>





