<!-- header -->
<div class="gtja-section menu">
  <div class="pure-g section-content">
  <div class="pure-u-1-3">
    <a class="logo" href="index.html">
    </a>
  </div>
  <div class="pure-u-2-3">
  <div class="menubar">
    <ul>
    <li>
      <a href="info.html" class="column">我们是谁</a>
      <div class="pure-g menubox">
        <dl class="pure-u-1-1">
          <dd>
            <h2><a href="#">公司历程</a></h2>
          </dd>
          <dd>
            <h2><a href="#">公司介绍</a></h2>
          </dd>
      </div>
    </li>
    <li>
      <a href="person.html" class="column">我们做什么</a>
      <div class="pure-g menubox">
        <dl class="pure-u-1-1">
          <dd>
            <h2><a href="#">交易执行系统</a></h2>
          </dd>
          <dd>
           <h2><a href="#">销售交易与投研服务</a></h2>
          </dd>
          <dd>
            <h2><a href="#">主经纪商业务</a></h2>
          </dd>
          <dd>
            <h2><a href="#">信用业务</a></h2>
          </dd>
          <dd>
            <h2><a href="#">资本引荐</a></h2>
          </dd>
        </dl>
      </div>
    </li>
    <li>
      <a href="qyjr.html" class="column">联系我们</a>
      <div class="pure-g menubox">
        <dl class="pure-u-1-1">
          <dd>
            <h2><a href="#">业务邮箱</a></h2>
          </dd>
          <dd>
            <h2><a href="#">留言板</a></h2>
          </dd>
        </dl>
      </div>
    </li>
    <li class="g-pr">
        <div>
          <input class="search-text" type="text" placeholder="搜索关键词">
          <button><i class="gtja-iconfont icon-sousuo"></i></button>
        </div>
    </li>
    </ul>
  </div>
  </div>
  </div>
  </div>