<div class="gtja-section services">
  <div class="section-content">
    <div class="pure-g">
      <div class="pure-u-1-3">
        <div class="service-item">
          <div class="item-img">
            <img src="../assets/images/item-img1.png">
          </div>
          <div class="item-text">
            <a href="#">
              <h3 class="title">advanced execution services </h3>
              <p class="desc">GTJA, a comprehensive financial provider with a long-term, sustainable and overall leading position in the Chinese securities industry,</p>
            </a>
          </div>
        </div>
      </div>
      <div class="pure-u-1-3">
        <div class="service-item">
          <div class="item-img">
            <img src="../assets/images/item-img2.png">
          </div>
          <div class="item-text">
            <a href="#">
              <h3 class="title">advanced execution services </h3>
              <p class="desc">GTJA, a comprehensive financial provider with a long-term, sustainable and overall leading position in the Chinese securities industry,</p>
            </a>
          </div>
        </div>
      </div>
      <div class="pure-u-1-3">
        <div class="service-item">
          <div class="item-img">
            <img src="../assets/images/item-img3.png">
          </div>
          <div class="item-text">
            <a href="#">
              <h3 class="title">advanced execution services </h3>
              <p class="desc">GTJA, a comprehensive financial provider with a long-term, sustainable and overall leading position in the Chinese securities industry,</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>