<div class="navigation">
  <div class="bar">
    <ul>
      <li><a href="qyjr-child.html"><span>Advanced Execution Services</span><span>&gt;</span></a></li>
      <li><a class="hover" href="qyjr-child.html"><span>Equity Sales & Trading</span><span>&gt;</span></a></li>
      <li><a href="qyjr-child.html"><span>Prime Brokerage</span><span>&gt;</span></a></li>
      <li><a href="qyjr-child.html"><span>Prime Financing</span><span>&gt;</span></a></li>
      <li><a href="qyjr-child.html"><span>Private Placement</span><span>&gt;</span></a></li>
      <li><a href="qyjr-child.html"><span>About Us</span><span>&gt;</span></a></li>
      <li><a href="qyjr-child.html"><span>Contact us</span><span>&gt;</span></a></li>
      <li><a href="qyjr-child.html"><span>Business Mail</span><span>&gt;</span></a></li>
      <li><a href="qyjr-child.html"><span>Sitemap</span><span>&gt;</span></a></li>
    </ul>
  </div>
</div>
